html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#navTop {
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.8);
    top: 0;
}

#logo {
    width: 100%;
    opacity: 1;
    background: rgb(255, 255, 255);
}

img[alt="ACE"] {
    max-width: 100%;
    max-height: 100%;
    opacity: 0.8;
}

@media only screen and (max-width: 500px) {
    #logo {
        position: absolute;
        height: 100%;
        text-align: center;
        margin: 0;
        background-color: inherit;
        z-index: 9;
        transition: all 5s;
    }
    #logo:hover {
        /*display: none;*/
        transition: all 0.5s;
        transform: translateY(-400%);
    }
}

#navTop a {
    transition: all 0.1s;
    opacity: 1;
    width: 100%;
    text-align: center;
}

#navTop a:hover {
    opacity: 0.8;
    cursor: pointer;
}

#navTop a:focus {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    padding-top: 64px;
}

@media only screen and (min-width: 500px) {
    .event,
    .ppl {
        width: auto;
    }
}

@media only screen and (min-width: 700px) {
    .event,
    .ppl {
        width: 46%;
    }
}

@media only screen and (min-width: 900px) {
    .event,
    .ppl {
        width: 30%;
    }
}

@media only screen and (min-width: 1500px) {
    .event,
    .ppl {
        width: 23%;
    }
}