<template id="events">
    <div id='mEvent'>
        <img src="" alt="">
        <h1>a major event</h1>
        <p>A major event</p>
    </div>
    <section class="event">
        <img src="" alt="loading image...">
        <h3 class="evTitle"></h3>
        <!--for long event description, better if user could expand upon clicking a button-->
        <p></p>
        <div class="info">
            <p>location</p>
            <time>time</time>
        </div>
    </section>
    <script src="components/events.js"></script>
    <link rel="stylesheet" href="components/events.css">
</template>