<template id="sponsors">
    <!--code under this line-->
    <section id="currentSponsors">
        <a class="sponsor" href="">
            <img />
        </a>
    </section>
    <link rel="stylesheet" href="components/sponsors.css">
    <script aync src="components/sponsors.js"></script>
    <p>Our club is full of active people who are willing to make a difference in the community. Your money will be worthwhile.</p>
    <a id="become" class="btn" href="https://goo.gl/forms/Fd8GZus2bk8u1Bl43">Sponsor Us!</a>
<!--
    to do
    integrate with external forms for sponsors signup
-->
</template>